@{
    ViewBag.Title = "Home Page";
}

<ul id="ul1">
    <li>
    </li>
</ul>

<ul id="ul2">
    <li>
    </li>
</ul>


<input id="field" />
<button id="button">Button</button>

<script src="../jquery-3.3.1.min.js"></script>
<script src="JavaScript.js"></script>
